@import "tailwindcss";

@theme {
  --font-oswald: var(--font-oswald);
  --font-jetbrains: var(--font-jetbrains-mono);
  --font-orbitron: var(--font-orbitron);
  --font-archivo-black: var(--font-archivo-black);


  --color-cyber-black: #000000;
  --color-cyber-gray: #121212;
  --color-interaction-red: #FF0000;

  --animate-glitch: glitch 1s linear infinite;

  @keyframes glitch {

    2%,
    64% {
      transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
      transform: translate(-2px, 0) skew(0deg);
    }

    62% {
      transform: translate(0, 0) skew(5deg);
    }
  }
}

:root {
  --background: #000000;
  --foreground: #FFFFFF;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains), monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-oswald), sans-serif;
  text-transform: uppercase;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-cyber-black);
}

::-webkit-scrollbar-thumb {
  background: var(--color-cyber-gray);
  border: 1px solid var(--color-cyber-gray);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-interaction-red);
  border-color: var(--color-interaction-red);
}