@import "tailwindcss";

@theme {
  --font-oswald: var(--font-oswald);
  --font-jetbrains: var(--font-jetbrains-mono);
  --font-orbitron: var(--font-orbitron);
  --font-archivo-black: var(--font-archivo-black);


  --color-cyber-black: #000000;
  --color-cyber-gray: #121212;
  --color-interaction-red: #FF0000;
  --color-interaction-blue: #0000FF;

  --animate-glitch: glitch 1s linear infinite;

  @keyframes glitch {

    2%,
    64% {
      transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
      transform: translate(-2px, 0) skew(0deg);
    }

    62% {
      transform: translate(0, 0) skew(5deg);
    }
  }
}

:root {
  --background: #000000;
  --foreground: #FFFFFF;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains), monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-oswald), sans-serif;
  text-transform: uppercase;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-cyber-black);
}

::-webkit-scrollbar-thumb {
  background: var(--color-cyber-gray);
  border: 1px solid var(--color-cyber-gray);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-interaction-red);
  border-color: var(--color-interaction-red);
}

/* Custom Utilities */
.typing-effect {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid var(--color-interaction-red);
  width: 0;
  animation: typing 2s steps(40, end) forwards, blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: var(--color-interaction-red)
  }
}

.shadow-red-glow {
  text-shadow: 0 0 10px var(--color-interaction-red), 0 0 20px var(--color-interaction-red);
}